<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test of Storefront in an iFrame</title>
</head>
<body>
    <!-- display storefront in the supplied environment -->
    <iframe src="<%= iframeSrc %>" height="1000" width="100%"></iframe>
</body>
</html>