<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test of Storefront in an iFrame</title>
</head>
<body>
    <iframe src="http://localhost:3000/store" height="1000" width="100%"></iframe>
</body>
</html>